.text-primary {
    color: #000 !important;
}

.dashboard-card {
    border: 1px solid #ddd;
    /* Add border to the card */
    border-radius: 8px;
    /* Round the corners */
    padding: 5px;
    /* Add some padding inside the card */
    background-color: #f2f2f2;
    /* Light background color */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Subtle shadow */
    /* transition: transform 0.3s ease-in-out; */
    /* Smooth hover effect */
}



.brief-summary {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* Limit to 2 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    /* Add ellipsis (...) if the text overflows */
}

.card-header {
    border-bottom: none;
    background-color: #f2f2f2;
    /* Remove the border at the bottom of the card header */
}

@media (max-width: 576px) {
    .card {
        width: 100% !important;
    }
}

.card-body {
    /* Optional: Adjust padding for better spacing */
    background-color: #f2f2f2;
}

.dashboard-card:hover {
    transform: translateY(-10px);
    /* Lift the card when hovered */
}

.box {
    background-color: #ffffff;
    /* White background */
    border: 2px solid #ddd;
    /* Border for visibility */
    border-radius: 5px;
    /* Rounded corners */
    padding: 10px;
    /* Padding inside the box */
    text-align: center;
    /* Center the content */
    font-size: 24px;
    font-weight: 100;
}

.box i {
    font-size: 28px;
    /* Adjust icon size */
    margin-bottom: 5px;
    /* Space between icon and text */
}

/* For the Dashboard Cards */
.card:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
    transition: all 0.3s ease-in-out;
}

/* Optional: Styled badge for 'View Details' */
.card-footer .badge {
    cursor: pointer;
    transition: background-color 0.3s ease;
    background: #ffffff;
}
.me-2{
    color: #0056b3;
}
.card-footer .badge:hover {
    background-color: #0056b3;
}

.card {
    background-color: #f2f2f2;
    overflow: hidden;
    border: 2px solid #d3d6db !important;
}

.border-left {
    border-left: 5px solid #0056b3;
}


.card-header-div {
    margin: 10px;

}

.card-header {
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card-header .intervention-title {
    font-size: 12px;
    text-transform: uppercase;
    /* Make it all caps */
    margin-bottom: 5px;
    color: #007bff;
}

.card-header .main-title {
    font-size: 20px;
    margin: 0;
}

.card img {
    transition: transform 0.3s ease-in-out;
}

.card:hover img {
    transform: scale(1.1);
    /* Zoom-in effect on the card image */
}

.card:hover .card-title {
    color: #007bff;
    /* Change text color to blue on hover */
}

.card:hover .card-text {
    color: #555;
    /* Lighter text color */
}